h1 {
    font-family: 'Fleur De Leah', cursive;
    color: rgb(255, 255, 255);
}

.fondoNegro {
    padding-top: 10px;
    background-color: black;
    height: 100% !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-60 {
    font-size: 60px;
}

.footer {
    background-color: #0d7712 !important;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header {
    background-color: #0d7712 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89px;
}