<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./css/estilosmiperfmt.css" />
    <link rel="stylesheet" href="./css/estilos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</head>

<body>
    <div class="body">
        <%- include('templates/header') %>
            <!-- INICIO DE CONTENIDO -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 mt-5">
                        <p class="text-center font-18">
                            <span><strong> Inicio / Perfil </strong></span>
                            <br>
                            <br>
                            <img src="./Images/mi tienda.png" alt="mi tienda" width="230px">
                        </p>
                        <!--nav-->
                        <div class="">
                            <div class="">
                                <div class="p-3">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                        aria-orientation="vertical">
                                        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"
                                            href="./HTML/MiPerfilResumen.html" role="tab" aria-controls="v-pills-home"
                                            aria-selected="false">
                                            Resumen
                                        </a>
                                        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill"
                                            href="./HTML/Miperfilmt.html" role="tab" aria-controls="v-pills-profile"
                                            aria-selected="true">
                                            Mi tienda
                                        </a>
                                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                            href="./HTML/MiPerfilTrans.html" role="tab" aria-controls="v-pills-messages"
                                            aria-selected="false">
                                            Mis transacciones
                                        </a>
                                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                            href="./HTML/IniciarSesion.html" role="tab" aria-controls="v-pills-settings"
                                            aria-selected="false">
                                            Cerrar Sesión
                                        </a>
                                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                            href="./HTML/Catalogo.html" role="tab" aria-controls="v-pills-settings"
                                            aria-selected="false">
                                            Volver al catálogo
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 mt-5  ">
                        <a href="/ingresar" type="button" class="btn-light mb-3 text-center pt-1"
                            style="color: rgb(0, 0, 0)">
                            <strong>Agregar nuevo libro</strong>
                        </a>
                        <div class="row border border-2 border-dark">
                            <% libro.forEach((mascot)=> { %>
                                <% if (mascot.ID_Libro==1) { %>
                            <div class="col-sm-2 ">
                                <img src="./Images/Libro12.png" alt="img1" />
                            </div>
                            <div class="col-sm-2 mt-5 mb-5  p-1">
                                <label class="titlib mt-3"><%  mascot.Nombre  %></label>
                                <a class="btn btn-light mb-3 w-100" href="/actualizar">Editar</a>
                            </div>
                            <div class="col-sm-8">
                                <div class="row p-0">
                                    <div class="col-sm-4 p-1">
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Precio</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion">60</label>
                                        </div>
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Imperfectos</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion" style="font-size:14px">Pag 5,manchas de cafe</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 p-">
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Autor</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion" style="font-size:12px">Friedrich Engels y Karl
                                                Marx</label>
                                        </div>
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Categoría</label>
                                        </div>
                                        <div class="informativo">

                                            <label id="anotacion">reflexion politica</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 p-1">
                                        <div class="etiquetax" id="xddd">
                                            <label class="titlib mt-3">Tipo transacción</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion">Venta</label>
                                        </div>
                                        <div class="etiquetax" id="xddd">
                                            <label class="titlib mt-3">Estado</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion">Pendiente</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }; %>
                                <% }); %>
                        </div>
                        <div class="row border border-2 border-dark mt-2 mb-2">
                            <div class="col-sm-2 ">
                                <img src="./Images/Libro12.png" alt="img1" />
                            </div>
                            <div class="col-sm-2 mt-5 mb-5  p-1">
                                <label class="titlib mt-3">El manifiesto</label>
                                <br />
                                <label class="titlib mt-3">comunista</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="row p-0">
                                    <div class="col-sm-4 p-0">
                                        <div class="etiqueta">
                                            <label class="titlibb mt-3">Precio</label>
                                        </div>
                                        <div class="informativov">
                                            <label id="anotacion"></label>
                                        </div>
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Imperfectos</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion" style="font-size:14px">Pag 5,manchas de cafe</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Autor</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion" style="font-size:12px">Friedrich Engels y Karl
                                                Marx</label>
                                        </div>
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Categoría</label>
                                        </div>
                                        <div class="informativo">

                                            <label id="anotacion">reflexion politica</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        <div class="etiquetax" id="xddd">
                                            <label class="titlib mt-3">Tipo transacción</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion">Venta</label>
                                        </div>
                                        <div class="etiquetax" id="xddd">
                                            <label class="titlib mt-3">Estado</label>
                                        </div>

                                        <div class="informativo">

                                            <label id="anotacion">Pendiente</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row border border-2 border-dark mt-2 mb-2">
                            <div class="col-sm-2 ">
                                <img src="./Images/Libro12.png" alt="img1" />
                            </div>
                            <div class="col-sm-2 mt-5 mb-5  p-1">
                                <label class="titlib mt-3">El manifiesto</label>
                                <br />
                                <label class="titlib mt-3">comunista</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="row p-0">
                                    <div class="col-sm-4 p-0">
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Precio</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion">60</label>
                                        </div>
                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Imperfectos</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion" style="font-size:14px">Pag 5,manchas de cafe</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 p-0">

                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Autor</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion" style="font-size:12px">Friedrich Engels y Karl
                                                Marx</label>
                                        </div>

                                        <div class="etiqueta">
                                            <label class="titlib mt-3">Categoría</label>

                                        </div>

                                        <div class="informativo">

                                            <label id="anotacion">reflexion politica</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 p-0">
                                        <div class="etiquetax" id="xddd">
                                            <label class="titlib mt-3">Tipo transacción</label>
                                        </div>
                                        <div class="informativo">
                                            <label id="anotacion">Venta</label>
                                        </div>
                                        <div class="etiquetax" id="xddd">
                                            <label class="titlib mt-3">Estado</label>
                                        </div>

                                        <div class="informativo">

                                            <label id="anotacion">Pendiente</label>
                                        </div>









                                    </div>





                                </div>

                            </div>
                        </div>







                    </div>
                </div>
            </div>
    </div>
    <!-- FIN DE CONTENIDO -->

    <div class="footer p-3">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-end text-white"> Condiciones de uso </p>
            </div>
            <div class="col-sm-6">
                <p class="text-white"> Aviso de Privacidad </p>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="text-center text-white mb-0"> <strong>© 2020-2021 Hipatia-Perú</strong> </p>
        </div>
    </div>
</body>

</html>