<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/estilosPassword.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body class="body">
    <%- include('templates/header') %>
        <!-- INICIO DE CONTENIDO -->
        <div class="container">
            <div class="row">
                <div>
                    <h3 class="text-center mt-3 mb-3">Zona de Comunicación</h3>
                    <p class="text-center font-12">La zona de comunicación tiene el objetivo de incentivar a los
                        participantes a la comunicación.
                    </p>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 border border-dark p-3">
                    <h5 class="text-center">Recibe</h5>
                    <img src="./Images/PerfilHombre.jpg" class="card-img-top">
                    <p>Jose Enrique Valdivia Perez</p>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Número Telefonico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="960552765">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="JoseEnqVal@gmail.com">
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-2 border border-dark p-3">
                    <h5 class="text-center">Ofertante</h5>
                    <img src="./Images/PerfilMujer.jpg" class="card-img-top">
                    <p>Jose Enrique Valdivia Perez</p>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Número Telefonico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="960552765">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="JoseEnqVal@gmail.com">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        <a href="carrito.ejs" class="btn btn-primary text-center">Carrito</a>
                    </div>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-danger border border-1 " data-bs-toggle="modal"
                            data-bs-target="#Advente">
                            <a>Finalizar </a>
                        </button>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>

        <!-- FIN DE CONTENIDO -->
        <%- include('templates/footer') %>
</body>

<div class="modal fade priori" id="Advente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title text-center text-red" id="Libro5Label"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>&nbsp;Advertencia </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <p>
                    </p>
                    <h3 class="text-center">Esta por finalizar la zona de comunicación </h3>
                    <!--p class="text-center">zona de comunicación </p-->
                    <p></p>
                    <h5 class="text-center"> Si continuas, no podras volver a la zona</h5>
                    <p class="text-center font-12 border p-3 mt-3">¿Desea continuar?</p>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        <a href="ZonaComunicacion.ejs" class="btn btn-danger text-center w-100">Cancelar</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="ZonaConfirmacion.ejs" class="btn btn-primary text-center w-100">Continuar</a>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>