.catalogo {
    width: 100%;
}

.fondoGris {
    background-color: #E5E5E5;
}

.dropdown-white {
    background-color: white !important;
}

.imgCat {
    weight: 100% !important;
    height: 320px !important;
}

.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.h-80 {
    height: 80% !important
}

.alto {
    height: 85% !important;
}

.priori {
    z-index: 9999999999999 !important;
}