 .bloque-cons {
     border: solid 2px rgb(0, 0, 0);
 }
 
 #menu {
     width: 100%;
 }
 
 .fondoGris {
     background-color: #E5E5E5;
 }
 
 .fondoBlanco {
     background-color: #ffffff;
 }
 
 .nav-link {
     background-color: #EFEDED !important;
     color: #000000 !important;
     border-radius: 0px !important;
     font-style: italic;
 }
 
 #v-pills-messages-tab {
     background-color: #6A7384 !important;
     color: #ffffff !important;
 }
 
 .alto {
     height: 50% !important;
 }

 .enviadas{
     display:none;
 }
